:host {
    display: none;
    font-size: medium;
}

slot {
    color: white;
}

/*======*/

svg {
  background: #3d3963;
  background: -moz-radial-gradient(center, ellipse cover, #3d3963 0%, #232541 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #3d3963 0%, #232541 100%);
  background: radial-gradient(ellipse at center, #3d3963 0%, #232541 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3d3963", endColorstr="#232541",GradientType=1 );
  -webkit-font-smoothing: antialiased;
}

.st0{opacity:0.83;}
	.st1{opacity:0.74;}
	.st2{fill:#4A3871;}
	.st3{opacity:0.74;fill:#706194;}
	.st4{opacity:0.74;fill:#998CB5;}
	.st5{fill:#F7EFFF;}
	.st6{fill:url(#SVGID_1_);}
	.st7{fill:url(#SVGID_2_);}
	.st8{fill:url(#SVGID_3_);}
	.st9{fill:url(#SVGID_4_);}
	.st10{fill:url(#SVGID_5_);}
	.st11{fill:url(#SVGID_6_);}
	.st12{fill:url(#SVGID_7_);}
	.st13{fill:url(#SVGID_8_);}
	.st14{fill:url(#SVGID_9_);}
	.st15{fill:url(#SVGID_10_);}
	.st16{fill:url(#SVGID_11_);}
	.st17{fill:url(#SVGID_12_);}
	.st18{fill:url(#SVGID_13_);}
	.st19{fill:url(#SVGID_14_);}
	.st20{fill:url(#SVGID_15_);}
	.st21{fill:url(#SVGID_16_);}
	.st22{fill:#150633;}
	.st23{fill:url(#SVGID_17_);}
	.st24{opacity:0.4;fill:url(#SVGID_18_);}
	.st25{opacity:0.4;fill:url(#SVGID_19_);}
	.st26{opacity:0.4;fill:url(#SVGID_20_);}
	.st27{opacity:0.4;fill:url(#SVGID_21_);}
	.st28{fill:#B8AFDB;}
	.st29{opacity:0.56;fill:#B8AFDB;}
	.st30{fill:url(#SVGID_22_);}

@-webkit-keyframes clouds {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@keyframes clouds {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

#clouds {
  animation: clouds 20s ease-in-out forwards infinite;
}